*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
/*page layouts*/
.container{

    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.offset{

    width: 5%;
    height: 100%;
}
.main{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/*header section*/
/*height=30vh*/

.header{
    padding-top: 3vh;
    height: 27vh;
    width: 100%;
    display: flex;
    justify-content: center;

}
.logo{
    /* width: 150px;
    height: 150px; */
    height: auto;
    max-width: 100%;
    transform: scale(0.9);
    

    border-radius: 50%;
}
.name{

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    color: #BCBBBB;
}

/*hero section*/
/*height:50vh*/
/*height so far 80vh*/
.hero{
    height: auto;
    
    margin-top: 2vh;
    max-width: 100%;
    max-height: 100%;
}

/*footer section*/
.footer{
    height: auto;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.footer-title{
    color: #BCBBBB;
    margin-bottom: 5vh;
    margin-left: 38%;
    margin-right: 38%;
}
.thumbRow{

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
}
.thumbnail{

    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #747704;
}
.img{
    
    height: auto;
    min-width: 300px;
    max-width: 100%;
}
.thumbtitle, .thumbURL{
    margin-right: 50%;
    margin-left: 50%;
}
.bottomOffset{
    height: 15vh;
}


/*media queries*/
@media only screen and (max-width: 300px) {
    .thumbnail{
        width: 100%;
    }
    .img{
        width: 100%;
    }

}

@media only screen and (min-width: 768px) {

    .thumbnail{
        width: 30%;


    }

}
